absl-py==2.1.0
accelerate==0.32.1
adapters==1.0.1
addict==2.4.0
aeiou==0.0.20
aiobotocore==2.13.1
aiofiles==23.2.1
aiohttp==3.9.5
aioitertools==0.11.0
aiolimiter==1.1.0
aiosignal==1.3.1
alabaster==1.0.0
albucore==0.0.16
albumentations==1.4.11
alias-free-torch==0.0.6
altair==5.3.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
anytree==2.12.1
appdirs==1.4.4
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argbind==0.3.9
arrow==1.3.0
asgiref==3.8.1
asitop==0.0.24
asreview==1.6.5
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
auraloss==0.4.0
autograd==1.7.0
azure-ai-documentintelligence==1.0.0b3
azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.17.1
azure-search-documents==11.5.1
azure-storage-blob==12.22.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.0
beartype==0.18.5
beautifulsoup4==4.12.3
binaryornot==0.4.4
black==24.8.0
bleach==6.1.0
blessed==1.20.0
blinker==1.9.0
bokeh==2.4.3
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
botocore==1.34.131
braceexpand==0.1.7
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
build==1.2.1
cachetools==5.4.0
cattrs==24.1.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1720457958366/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001737800/work
cfgv==3.4.0
chardet==5.2.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chroma-hnswlib==0.7.6
chromadb==0.5.5
clean-fid==0.1.35
click==8.1.7
clip-anytorch==2.6.0
clip-interrogator==0.6.0
cloudpickle==3.0.0
cmake==3.30.0
cohere==5.3.5
color-matcher==0.5.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet==3.1.0
coloredlogs==15.0.1
colorlog==6.8.2
colormaps==0.4.2
colorspacious==1.1.2
colour-science==0.4.6
compress-pickle==2.1.0
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1715631944170/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1706566000184/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
configparser==7.0.0
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1712429964190/work
cookiecutter==2.6.0
coverage==7.6.1
cramjam==2.8.3
cryptography==42.0.8
cssselect2==0.7.0
cstr @ git+https://github.com/WASasquatch/cstr@0520c29a18a7a869a6e5983861d6f7a4c86f8e9b
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
Cython==3.0.10
dashing==0.1.0
dask==2024.4.1
dask-expr==1.0.11
dataclasses-json==0.6.7
datahugger==0.13
datamapplot @ git+https://github.com/TutteInstitute/datamapplot.git@cda9fa5e86714a7937130c31ee04fa63f23317a5
datashader==0.16.3
datashaper==0.0.49
dctorch==0.1.2
ddt==1.7.2
decorator==5.1.1
Deprecated==1.2.14
deprecation==2.1.0
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
devtools==0.12.2
diffusers==0.29.2
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.8
distributed==2024.4.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
dnspython==2.6.1
docker-pycreds==0.4.0
docstring_parser==0.16
docutils==0.21.2
duckduckgo_search==6.1.12
easydict==1.13
einops==0.7.0
einops-exts==0.0.4
elastic-transport==8.15.0
elasticsearch==8.13.2
ema-pytorch==0.2.3
email_validator==2.2.0
encodec==0.1.1
environs==11.0.0
et-xmlfile==1.1.0
eval_type_backport==0.2.0
exceptiongroup==1.2.2
executing==2.0.1
fairscale==0.4.13
fast-langdetect==0.2.1
fastapi==0.111.1
fastapi-cli==0.0.4
fastavro==1.9.5
fastcore==1.5.54
fastparquet==2024.5.0
fasttext-wheel==0.9.2
ffmpy @ git+https://github.com/WASasquatch/ffmpy.git@f000737698b387ffaeab7cd871b0e9185811230d
filelock==3.14.0
fire==0.6.0
flake8==7.1.1
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
flatten-dict==0.4.2
flet==0.25.2
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1717209205562/work
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1715092779444/work
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.2.0
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.5.4
gdown==5.2.0
gensim==4.3.3
gguf==0.13.0
gin-config==0.5.0
gitdb==4.0.11
gitignorefile==1.1.2
GitPython==3.1.43
google-auth==2.34.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
googlesearch-python==1.2.5
gradio==4.38.1
gradio_client==1.1.0
-e git+https://github.com/LennardZuendorf/gradio-iFrame@8cc89303a4b94a40698a5f894d0d6bfa31738cec#egg=gradio_iframe
graphrag==0.3.2
graspologic==3.4.1
graspologic-native==1.2.1
greenlet==3.0.3
grpcio==1.64.1
h11==0.14.0
h5py==3.11.0
holoviews==1.19.1
html2text==2024.2.26
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.23.5
humanfriendly==10.0
hyppo==0.4.0
identify==2.6.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
imageio==2.34.1
imagesize==1.4.1
img2texture @ git+https://github.com/WASasquatch/img2texture.git@a546609a915caf1dcb84a15bf44b5b639ad924e6
importlib-resources==5.12.0
importlib_metadata==8.0.0
iniconfig==2.0.0
insightface==0.7.3
iopath==0.1.10
ipython==8.26.0
isodate==0.6.1
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
json_repair==0.26.0
jsonmerge==1.9.2
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpath-ng==1.7.0
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1695397382064/work
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
julius==0.2.7
k-diffusion==0.1.1
keras==3.3.3
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695379982481/work
kornia==0.7.3
kornia_rs==0.1.5
-e git+https://github.com/Cinnamon/kotaemon@bb56ef4f8e805924f4fb60087b0059367036c9fb#egg=kotaemon&subdirectory=libs/kotaemon
-e git+https://github.com/Cinnamon/kotaemon@bb56ef4f8e805924f4fb60087b0059367036c9fb#egg=ktem&subdirectory=libs/ktem
kubernetes==30.1.0
laion-clap==1.1.4
lancedb==0.11.0
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-openai==0.1.7
langchain-text-splitters==0.0.2
langsmith==0.1.105
lazy_loader==0.4
libclang==18.1.1
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1711394373090/work/libmambapy
librosa==0.9.2
lightning-utilities==0.11.5
linkify-it-py==2.0.3
llama-cloud==0.0.15
llama-hub==0.0.79.post1
llama-index==0.10.68
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.68.post1
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.7
llama-index-legacy==0.9.48.post3
llama-index-llms-openai==0.1.31
llama-index-multi-modal-llms-openai==0.1.9
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.33
llama-index-readers-llama-parse==0.1.6
llama-index-vector-stores-chroma==0.1.10
llama-index-vector-stores-lancedb==0.1.7
llama-parse==0.4.9
llvmlite==0.41.1
local-attention==1.8.6
locket==1.0.0
lxml==5.2.2
lz4==4.4.3
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1711394373090/work/mamba
manifold3d==2.5.1
marimo==0.9.27
Markdown==3.6
markdown-it-py==3.0.0
markdown2==2.5.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1715976181223/work
matplotlib-inline==0.1.7
matrix-client==0.4.0
mccabe==0.7.0
mdit-py-plugins==0.4.1
mdurl==0.1.2
mediapipe==0.10.14
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1705068367719/work
ml-dtypes==0.3.2
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
msal==1.30.0
msal-extensions==1.2.0
msgpack==1.1.0
mss==10.0.0
multidict==6.0.5
multipledispatch==1.0.0
munkres==1.1.4
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.14.3
natsort==8.4.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
nodeenv==1.9.1
numba==0.58.1
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.2.3
onnx==1.16.1
onnxruntime==1.16.3
open_clip_torch==2.26.1
openai==1.42.0
opencv-contrib-python==4.8.0.74
opencv-python==4.10.0.82
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-asgi==0.47b0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-util-http==0.47b0
opinionated==0.0.3.0
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.6
overrides==7.7.0
packaging==23.2
pandas==2.2.2
panel==1.4.4
param==2.1.1
parso==0.8.4
partd==1.4.2
pathspec==0.12.1
pathtools==0.1.2
patsy==0.5.6
pedalboard==0.7.4
pexpect==4.9.0
piexif==1.1.3
pilgram==1.2.1
pillow==10.4.0
pixeloe==0.0.10
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
ply==3.11
pooch==1.8.2
portalocker==2.10.1
posthog==3.5.2
POT==0.9.4
pre-commit==3.8.0
prefigure==0.0.9
prettytable==3.10.2
progressbar==2.5
prompt_toolkit==3.0.47
protobuf==4.25.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
pyalex==0.15.1
pyaml==23.12.0
pyaml-env==1.2.1
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.13.5
pycairo==1.26.0
pycodestyle==2.12.1
pycollada==0.8
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1696355969704/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pyct==0.5.0
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
pyflakes==3.2.0
pygit2==1.12.2
PyGithub==2.3.0
Pygments==2.18.0
PyGObject==3.48.2
PyJWT==2.8.0
pylabeladjust==0.1.13
pylance==0.15.0
pyloudnorm==0.1.1
PyMatting==1.1.12
pymdown-extensions==10.12
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
PyNaCl==1.5.0
pynndescent==0.5.12
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
pypdf==4.2.0
PyPika==0.48.9
pyproject_hooks==1.1.0
Pyqtree==1.0.0
pyreqwest_impersonate==0.5.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pystoi==0.4.1
pytest==8.3.2
pytest-mock==3.14.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.9
python-slugify==8.0.4
pytorch-lightning==2.1.0
pytz==2024.1
pyviz_comms==3.0.2
PyWavelets==1.4.1
PyYAML==6.0.2
randomname==0.2.1
ratelimiter==1.2.0.post0
rcssmin==1.2.0
referencing==0.35.1
regex==2024.5.15
rembg==2.0.57
repath==0.9.0
reportlab==4.2.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-cache==1.2.1
requests-oauthlib==2.0.0
resampy==0.4.3
retry==0.9.2
retrying==1.3.4
rich==13.7.1
rispy==0.7.1
rjsmin==1.2.3
robust-downloader==0.0.2
rpds-py==0.19.0
rsa==4.9
Rtree==1.3.0
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1707298382103/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1707314852085/work
ruff==0.5.2
s3fs==2024.6.1
safetensors==0.4.3
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.12.0
scisort==0.5.3
scitree==0.5.3
seaborn==0.13.2
seedir==0.5.0
segment-anything==1.0
semantic-version==2.10.0
sentence-transformers==3.3.1
sentencepiece==0.1.99
sentry-sdk==2.10.0
setproctitle==1.3.3
shapely==2.0.5
shellingham==1.5.4
simpleeval==0.9.13
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sounddevice==0.4.7
SoundFile==0.10.2
soupsieve==2.6
spandrel==0.3.4
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.32
SQLAlchemy-Utils==0.41.2
sqlmodel==0.0.21
stable-audio-tools==0.0.16
stack-data==0.6.3
starlette==0.37.2
statsmodels==0.14.2
striprtf==0.0.26
svg.path==6.3
svglib==1.5.1
swifter==1.4.0
sympy==1.12.1
synergy-dataset==1.2
tabulate==0.9.0
taming-transformers==0.0.1
tantivy==0.22.0
tblib==3.0.0
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
text-unidecode==1.3
textual==0.76.0
theflow==0.8.6
threadpoolctl==3.5.0
tifffile==2024.5.22
tiktoken==0.7.0
timm==0.9.2
tinycss2==1.3.0
tokenizers==0.20.3
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.3.1
torch-stoi==0.2.1
torchaudio==2.3.1
torchdiffeq==0.2.4
torchlibrosa==0.1.0
torchmetrics==0.11.4
torchsde==0.2.6
torchvision==0.18.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1717722719810/work
tqdm==4.66.5
traitlets==5.14.3
trampoline==0.1.2
transformers==4.45.2
transparent-background==1.3.3
trimesh==4.4.3
trogon==0.5.0
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
typer==0.12.3
types-python-dateutil==2.9.0.20240821
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.3
ultralytics==8.2.59
ultralytics-thop==2.0.0
umap-learn==0.5.7
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1695848003431/work
url-normalize==1.4.3
urllib3==2.2.2
uvicorn==0.30.1
uvloop==0.20.0
v-diffusion-pytorch==0.0.2
vector-quantize-pytorch==1.9.14
vhacdx==0.0.8.post1
virtualenv==20.26.3
waitress==3.0.2
wandb==0.15.4
watchfiles==0.22.0
wcwidth==0.2.13
webdataset==0.2.48
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.1.3
wget==3.2
wikipedia==1.4.0
wrapt==1.16.0
x-transformers==1.26.6
xarray==2025.1.1
xatlas==0.0.9
xgboost==2.0.3
XlsxWriter==3.2.2
xxhash==3.4.1
xyzservices==2024.6.0
yacs==0.1.8
yapf==0.40.2
yarl==1.9.4
zict==3.0.0
zipp==3.19.2
zstandard==0.22.0
